[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bolt4jr"]
	path = bolt4jr
	url = https://github.com/broccolito/bolt4jr
[submodule "ggmugs"]
	path = ggmugs
	url = https://github.com/broccolito/ggmugs
[submodule "gptr"]
	path = gptr
	url = https://github.com/broccolito/gptr
