[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggmugs"]
	path = ggmugs
	url = https://github.com/cran/ggmugs
[submodule "gptr"]
	path = gptr
	url = https://github.com/cran/gptr
